@font-face {
    font-family: "cooperhewitt_bold_italic";
    src: url("font/cooperhewitt_bold_italic.otf");
    font-weight: bold;
    font-style: italic;
}
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
    font-family: "cooperhewitt_bold_italic";
    color: white;
    text-align: justify;
    text-justify: inter-word;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    margin: 10px auto;
    width: auto !important;
    height:auto !important;
    max-width: 100% !important;
}

iframe {
    max-width: 100% !important;
    border:none!important;
}

a {
    font-family: "cooperhewitt_bold";
    src: url("font/cooperhewitt_bold.otf");
    font-weight: bold;
    color: blue;
    text-shadow: 1px 1px #000000;
}
